<div class="container mt-5">
  <div class="row">
    <div class="col-md-6" style="font-size: larger;">
      <h2>Contact Us</h2>
      <br>
      <p><i class="bi bi-geo-alt-fill"></i> 100 Galvin Road S, Bellevue, NE 68005</p>
      <p><i class="bi bi-telephone-fill"></i> Phone: (123) 456-7890</p>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.650414321165!2d-95.91063468455858!3d41.15861177928814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87938dc8b50a32a3%3A0x5935b4b4d7b7e20a!2s1000%20Galvin%20Rd%20S%2C%20Bellevue%2C%20NE%2068005%2C%20USA!5e0!3m2!1sen!2sus!4v1631231044093!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
