<!-- Name: Justin Barlowe
File: contact.component.html
Description: HTML for the contact component.
Date: 11/16/2023
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon></mat-card-title>

        <br>


      <mat-card-content class="align-center">
        <p>
          1234 Main St.
        </p>
        <p>
          Cameron, NC
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br>

      <mat-card-content class="align-center">
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free 1-800-555-5555
        </p>
        <p>
          Fax: 555-555-5555
          Name: Justin Barlowe
          File:
          Description:
          Date:        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br><br><br><br>

<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations through out the local area.
  </p>
</div>
