<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 25%;" class="mat-elevation-z0">
  <mat-card-title>
    <img src="./assets/404error.png" alt="Not found image" style="width: 100%; border-radius: 20%;">
  </mat-card-title>
  <mat-card-content style="text-align: center;">
    <h1>Oops! What you are looking for doesn't exist or has been moved, please return home!</h1>
    <button mat-raised-button color="accent" routerLink="/">Return Home</button>
  </mat-card-content>
  </mat-card>
</div>
