<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout=column>
      <div>
        <img src="./assets/book.jpg" style="max-width: 300px;" alt="Dexter Book">
      </div>
      <div>
        <em>
          Photo by <a href="https://unsplash.com/@sincerelymedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sincerely Media</a> on <a href="https://unsplash.com/photos/book-near-eyeglasses-and-cappuccino-nGrfKmtwv24?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </em>
      </div>
    </div>
    </div>
    <div fxFlex>
      <h1 class="blue">Who was Jeff Lindsay?</h1>
      <p>
        Jeff Lindsay is an American author, best known for creating the character Dexter Morgan, a serial killer who targets other murderers. Dexter became the basis of the hit TV series "Dexter." Born in 1952, Lindsay has a background in drama, having been a playwright and actor. His work often explores dark and intricate psychological themes. Lindsay's gripping narrative style and unique character development have made him a standout figure in contemporary crime and thriller literature.
      </p>
    </div>
</div>
