<!-- Name: Justin Barlowe
File: app.composer-list.html
Description: HTML composer list file for composer app
Date: 10/24/2023 -->

<!-- Create Table -->
<div class="row">
  <!-- Table for Composers -->
  <h2 class="text-center">Composer List</h2>
  <br><br>
  <div class="col">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th class="col">Composer ID</th>
      <th class="col">Full name</th>
      <th class="col">Genre</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop over array of composers -->
    <tr *ngFor="let composer of composers">
      <td class="row">
        <a routerLink="/composer-details/{{ composer.composerId }}">
          {{ composer.composerId }}
          </a>
      </td>
      <td>{{ composer.fullName }}</td>
      <td>{{ composer.genre }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
