<!-- Name: Justin Barlowe
File: about.component.html
Description: HTML component file for about page
Date: 10/24/2023 -->

<div class="row">
  <h2 class="text-center">Beethoven</h2>
  <div class="col-md-5"><img src="../assets/beethoven.png" style="width: 400px;" alt="Beethoven"><br>Image by <a href="https://pixabay.com/users/openclipart-vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1296374">OpenClipart-Vectors</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1296374">Pixabay</a></div>


  <div class="col-md-7"><br><br>Ludwig van Beethoven was a German composer and pianist, born in December 1770. He was a crucial figure in the transition from the Classical to Romantic eras in Western music. Notable for his innovative compositions, he expanded the symphony and sonata, and is celebrated for works like "Moonlight Sonata" and "Symphony No. 9." Despite losing his hearing later in life, Beethoven's influence remains significant in the history of classical music.</div>
</div>
